apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "jitsi-meet.web.fullname" . }}-conffiles
  labels:
    {{- include "jitsi-meet.web.labels" . | nindent 4 }}
data:
  custom-config.js: |
  {{- if .Values.web.custom.configs._custom_config_js }}
    {{- .Values.web.custom.configs._custom_config_js | nindent 4 }}
  {{ end }}
  {{- if .Values.jibri.recording }}
    config['recordings'] = {
      // IF true (default) recording audio and video is selected by default in the recording dialog.
      recordAudioAndVideo: {{ .Values.web.recordings.recordAudioAndVideo | default "true" }},
      // If true, shows a notification at the start of the meeting with a call to action button
      // to start recording (for users who can do so).
      suggestRecording: {{ .Values.web.recordings.suggestRecording | default "false" }},
      // If true, shows a warning label in the prejoin screen to point out the possibility that
      // the call you're joining might be recorded.
      showPrejoinWarning: {{ .Values.web.recordings.showPrejoinWarning | default "true" }},
      // If true, the notification for recording start will display a link to download the cloud recording.
      showRecordingLink: {{ .Values.web.recordings.showRecordingLink | default "false" }},
      // If true, mutes audio and video when a recording begins and displays a dialog
      // explaining the effect of unmuting.
      requireConsent: {{ .Values.web.recordings.requireConsent | default "true" }},
      // If true consent will be skipped for users who are already in the meeting.
      skipConsentInMeeting: {{ .Values.web.recordings.skipConsentInMeeting | default "false" }},
      // Link for the recording consent dialog's "Learn more" link.
      consentLearnMoreLink: '{{ .Values.web.recordings.consentLearnMoreLink }}',
    };
  {{- end }}
  custom-interface_config.js: |
  {{- if .Values.web.custom.configs._custom_interface_config_js }}
    {{- .Values.web.custom.configs._custom_interface_config_js | nindent 4 }}
  {{- else }}
  # Not providing /config/custom-interface_config.js
  {{ end }}
  default: |
  {{- if .Values.web.custom.defaults._default }}
    {{- .Values.web.custom.defaults._default | nindent 4 }}
  {{- else }}
  # Using web /defaults/default from container image
  {{ end }}
  ffdhe2048.txt: |
  {{- if .Values.web.custom.defaults._ffdhe2048_txt }}
    {{- .Values.web.custom.defaults._ffdhe2048_txt | nindent 4 }}
  {{- else }}
  # Using web /defaults/ffdhe2048.txt from container image
  {{ end }}
  interface_config.js: |
  {{- if .Values.web.custom.defaults._interface_config_js }}
    {{- .Values.web.custom.defaults._interface_config_js | nindent 4 }}
  {{- else }}
  # Using web /defaults/interface_config.js from container image
  {{ end }}
  meet.conf: |
  {{- if .Values.web.custom.defaults._meet_conf }}
    {{- .Values.web.custom.defaults._meet_conf | nindent 4 }}
  {{- else }}
  # Using web /defaults/meet.conf from container image
  {{ end }}
  nginx.conf: |
  {{- if .Values.web.custom.defaults._nginx_conf }}
    {{- .Values.web.custom.defaults._nginx_conf | nindent 4 }}
  {{- else }}
  # Using web /defaults/nginx.conf from container image
  {{ end }}
  settings-config.js: |
  {{- if .Values.web.custom.defaults._settings_config_js }}
    {{- .Values.web.custom.defaults._settings_config_js | nindent 4 }}
  {{- else }}
  # Using web /defaults/settings-config.js from container image
  {{ end }}
  ssl.conf: |
  {{- if .Values.web.custom.defaults._ssl_conf }}
    {{- .Values.web.custom.defaults._ssl_conf | nindent 4 }}
  {{- else }}
  # Using web /defaults/ssl.conf from container image
  {{ end }}
  system-config.js: |
  {{- if .Values.web.custom.defaults._system_config_js }}
    {{- .Values.web.custom.defaults._system_config_js | nindent 4 }}
  {{- else }}
  # Using web /defaults/system-config.js from container image
  {{ end }}
