{{- if and .Values.overlay.enabled (eq .Values.overlay.mode "v1")  }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "jitsi-meet.overlay.v1.proxy.fullname" . }}
data:
  nginx.conf: |
    {{ $webHost := printf "%s.%s.svc.cluster.local:%d" (include "jitsi-meet.web.fullname" .) .Release.Namespace (int .Values.web.service.port) }}
    {{ $prosodyHost := printf "%s.%s.svc.cluster.local:5280" (include "jitsi-meet.prosody.fullname" .) .Release.Namespace }}
    {{ $overlayHost := printf "%s.%s.svc.cluster.local:%d" (include "jitsi-meet.overlay.v1.fullname" .) .Release.Namespace (int .Values.overlay.v1.service.port) }}
    events {}

    http {
      server {
        listen 80;

        location = /external_api.js {
          proxy_pass http://{{ $webHost }};
          proxy_ssl_verify off;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
        }

        {{- if .Values.web.custom.jaliosExternalApiConfigmap }}
        location = /jalios_external_api.js {
          alias /usr/share/jitsi-meet/libs/jalios_external_api.min.js;
        }
        {{- end }}

        location = /config.js {
          proxy_pass http://{{ $webHost }};
          proxy_ssl_verify off;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
        }

        location = /interface_config.js {
          proxy_pass http://{{ $webHost }};
          proxy_ssl_verify off;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
        }

        location = /favicon.ico {
          proxy_pass http://{{ $webHost }};
          proxy_ssl_verify off;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
        }

        location = /http-bind {
          proxy_pass http://{{ $prosodyHost }}/http-bind;
          proxy_set_header X-Forwarded-For $remote_addr;
          proxy_set_header Host $http_host;
        }

        location = /xmpp-websocket {
          proxy_pass http://{{ $prosodyHost }}/xmpp-websocket;

          proxy_set_header X-Forwarded-For $remote_addr;
          proxy_set_header Host $http_host;

          proxy_http_version 1.1;
          proxy_buffer_size 128k;
          proxy_buffers 4 256k;
          proxy_busy_buffers_size  256k;
          proxy_set_header Connection "upgrade";
          tcp_nodelay on;
        }

        location ~ ^/colibri-ws/(\d+\.\d+\.\d+\.\d+)/(.*) {
          proxy_pass http://$1:9090$request_uri;
          proxy_http_version 1.1;
          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection "upgrade";
          tcp_nodelay on;
        }

        set $try_location @jitsi;
        if ($http_user_agent ~* ".*electron.*") {
          set $try_location @root_path;
        }

        location / {
          ssi on;
          allow all;
          root /usr/share/jitsi-meet;
          try_files $uri $try_location;
        }

        ### JITSI APP
        location @jitsi {
          ssi on;
          allow all;
          proxy_set_header X-Forwarded-For $remote_addr;
          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection "upgrade";
          proxy_set_header Host $host;
          proxy_pass http://{{ $overlayHost }};
        }
      }
    }
{{- end -}}